<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cryptocurrency</title>
    <meta charset="UTF-8" />
    <meta name="description" content="Cryptocurrency " />
    <meta name="keywords" content="cryptocurrency,  html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link href="img/wallet-icons/logo.png" rel="shortcut icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
    />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/themify-icons.css" />
    <link rel="stylesheet" href="css/owl.carousel.css" />
    <link rel="stylesheet" href="css/style.css" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>
    <!-- Header section -->
    <header class="header-section clearfix">
      <div class="container-fluid">
        <a href="/" class="site-logo">
          <img src="img/wallet-icons/logo.png" alt="" />
        </a>
        <div class="responsive-bar"><i class="fa fa-bars"></i></div>
        <a href="/connect-wallet" class="site-btn">Connect Wallet</a>
      </div>
    </header>
    <!-- Header section end -->

    <!-- Page info section -->
    <section class="page-info-section">
      <div class="container">
        <h2>Connect Wallet</h2>
        <div class="site-beradcamb">
          <a href="/">Home</a>
          <span><i class="fa fa-angle-right"></i>Connect Wallet</span>
        </div>
      </div>
    </section>
    <!-- Page info end -->

     <!-- Features section -->
     <section class="features-section spad gradient-bg">
      <div class="container text-white">
        <div class="section-title text-center">
          <h2> Wallets</h2>
          
        </div>
        <div class="row">
          <!-- feature -->
          <div class="col-6 col-md-3 col-lg-2 feature">

            
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Trust">
               <img src="img/wallet-icons/Trust.svg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             
             <p>Trust</p>
			  
            </div>
         
          </div>
          <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin walletConnect">
               <img src="img/wallet-icons/WalletConnect.png" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p>WalletConnect</p>
             
			  
            </div>
          </div>
          <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin meta-mask">
               <img src="img/wallet-icons/MetaMak.png" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p>Meta Mask</p>
             
			  
            </div>
          </div>
          <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin binance-smart-chain">
               <img src="img/wallet-icons/BNS.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p>Binance Smart Chain</p>
             
			  
            </div>
          </div>
          <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin atomic">
               <img src="img/wallet-icons/atomic.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p>Atomic</p>
             
			  
            </div>
          </div>
          <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin pancake-swap">
               <img src="img/wallet-icons/pancake.png" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p>Pancake Swap</p>
             
			  
            </div>
          </div>

         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Crypto-com-Defi-Wallet">
               <img src="img/wallet-icons/crypto.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p>Crypto.com Defi Wallet</p>
             
			  
            </div>
          </div>
          <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Solana">
               <img src="img/wallet-icons/Solana.png" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> Solana</p>
             
			  
            </div>
          </div>
          <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Keplr">
               <img src="img/wallet-icons/keplr.svg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> Keplr</p>
             
			  
            </div>
          </div>
          <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Maiar">
               <img src="img/wallet-icons/maiar-dex.png" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> Maiar</p>
             
			  
            </div>
          </div>
          <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Coinbase">
               <img src="img/wallet-icons/Coinbase.png" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> Coinbase</p>
             
			  
            </div>
          </div>
          <!-- feature -->
		    <!-- feature -->
       <div class="col-6 col-md-3 col-lg-2 feature">
            
          <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Nomic">
             <img src="img/wallet-icons/nomic.png" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> Nomic</p>
           
      
          </div>
        </div>
          <!-- feature -->
		    <!-- feature -->
       <div class="col-6 col-md-3 col-lg-2 feature">
            
          <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Zoid-Pay">
             <img src="img/wallet-icons/zoidpay.png" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> Zoid Pay</p>
           
      
          </div>
        </div>
          <!-- feature -->
		    <!-- feature -->
       <div class="col-6 col-md-3 col-lg-2 feature">
            
          <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Rainbow">
             <img src="img/wallet-icons/rainbow.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> Rainbow</p>
           
      
          </div>
        </div>
          <!-- feature -->
		    <!-- feature -->
       <div class="col-6 col-md-3 col-lg-2 feature">
            
          <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Argent">
             <img src="img/wallet-icons/arge.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> Argent</p>
           
      
          </div>
        </div>
          <!-- feature -->
		    <!-- feature -->
       <div class="col-6 col-md-3 col-lg-2 feature">
            
          <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Gnosis-Safe-Multisig">
             <img src="img/wallet-icons/gnosis.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> Gnosis Safe Multisig</p>
           
      
          </div>
        </div>
          <!-- feature -->
		      <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Coincheck">
               <img src="img/wallet-icons/coincheck.svg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> Coincheck</p>
             
			  
            </div>
          </div>
          <!-- feature -->
		      <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin ONTO">
               <img src="img/wallet-icons/ONTO.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> ONTO</p>
             
			  
            </div>
          </div>
          <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Ellipal">
               <img src="img/wallet-icons/ellipal.png" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> Ellipal</p>
             
			  
            </div>
          </div>
          <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Pillar">
               <img src="img/wallet-icons/pillar.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> Pillar</p>
             
			  
            </div>
          </div>
          <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin imToken">
               <img src="img/wallet-icons/imtoken.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> imToken</p>
             
			  
            </div>
          </div>
          <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin TokenPocket">
               <img src="img/wallet-icons/tokenpocket.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> TokenPocket</p>
             
			  
            </div>
          </div>
          <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin MathWallet">
               <img src="img/wallet-icons/math.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> MathWallet</p>
             
			  
            </div>
          </div>
          <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Walleth">
               <img src="img/wallet-icons/walleth.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p>Walleth</p>
             
			  
            </div>
          </div>
          <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Authereum">
               <img src="img/wallet-icons/authereum.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> Authereum</p>
             
			  
            </div>
          </div>
          <!-- feature -->
           <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Dharma">
               <img src="img/wallet-icons/dharma.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> Dharma</p>
             
			  
            </div>
          </div>
          <!-- feature -->
           <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin 1inch-Wallet">
               <img src="img/wallet-icons/WalletConnect.png" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> 1inch Wallet</p>
             
			  
            </div>
          </div>
          <!-- feature -->
           <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Uniswap">
               <img src="img/wallet-icons/uniswap.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> Uniswap</p>
             
			  
            </div>
          </div>
          <!-- feature -->
           <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Binance-Dex">
               <img src="img/wallet-icons/BNS.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> Binance Dex</p>
             
			  
            </div>
          </div>
          <!-- feature -->
           <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Huobi-Wallet">
               <img src="img/wallet-icons/Huobi.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> Huobi Wallet</p>
             
			  
            </div>
          </div>
          <!-- feature -->
           <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin BitPay">
               <img src="img/wallet-icons/bitpay.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> BitPay</p>
             
			  
            </div>
          </div>
          <!-- feature -->
           <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Eidoo">
               <img src="img/wallet-icons/Eidoo.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> Eidoo</p>
             
			  
            </div>
          </div>
          <!-- feature -->
           <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Etherscan">
               <img src="img/wallet-icons/etherscan.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> Etherscan</p>
             
			  
            </div>
          </div>
          <!-- feature -->
           <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Opensea">
               <img src="img/wallet-icons/opensea.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p>Opensea</p>
             
			  
            </div>
          </div>
          <!-- feature -->
           <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Compound">
               <img src="img/wallet-icons/compound.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> Compound</p>
             
			  
            </div>
          </div>
          <!-- feature -->
           <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Zapper">
               <img src="img/wallet-icons/zapper.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> Zapper</p>
             
			  
            </div>
          </div>
          <!-- feature -->
           <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Aave">
               <img src="img/wallet-icons/aave.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> Aave</p>
             
			  
            </div>
          </div>
          <!-- feature -->
           <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Zerion">
               <img src="img/wallet-icons/BNS.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> Zerion</p>
             
			  
            </div>
          </div>
          <!-- feature -->
           <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin LocalCryptos">
               <img src="img/wallet-icons/local%20cryptos.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> LocalCryptos</p>
             
			  
            </div>
          </div>
          <!-- feature -->
           <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Debank">
               <img src="img/wallet-icons/debank.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> Debank</p>
             
			  
            </div>
          </div>
          <!-- feature -->
           <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Rarible">
               <img src="img/wallet-icons/rarible.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> Rarible</p>
             
			  
            </div>
          </div>
          <!-- feature -->
           <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin 1inch-Exchange">
               <img src="img/wallet-icons/1inch.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> 1inch Exchange</p>
             
			  
            </div>
          </div>
          <!-- feature -->
           <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Yearn">
               <img src="img/wallet-icons/yearn.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> Yearn</p>
             
			  
            </div>
          </div>
          <!-- feature -->
           <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Nash">
               <img src="img/wallet-icons/nash.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> Nash</p>
             
			  
            </div>
          </div>
          <!-- feature -->
           <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Curve">
               <img src="img/wallet-icons/curve.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> Curve</p>
             
			  
            </div>
          </div>
          <!-- feature -->
           <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Unstoppable-Domains">
               <img src="img/wallet-icons/unstoppable.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> Unstoppable Domains</p>
             
			  
            </div>
          </div>
          <!-- feature -->
           <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Adex-Network">
               <img src="img/wallet-icons/adex.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> Adex Network</p>
             
			  
            </div>
          </div>
          <!-- feature -->
           <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin dYdX">
               <img src="img/wallet-icons/dydx.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> dYdX</p>
             
			  
            </div>
          </div>
          <!-- feature -->
           <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin MyCrypto">
               <img src="img/wallet-icons/mycrypto.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> MyCrypto</p>
             
			  
            </div>
          </div>
          <!-- feature -->
           <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin MYKEY">
               <img src="img/wallet-icons/mykey.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> MYKEY</p>
             
			  
            </div>
          </div>
          <!-- feature -->
           <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Coin-98">
               <img src="img/wallet-icons/coin98.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> Coin 98</p>
             
			  
            </div>
          </div>
          <!-- feature -->
           <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin CoolWallet-S">
               <img src="img/wallet-icons/Coolwallet%20S.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> CoolWallet S</p>
             
			  
            </div>
          </div>
          <!-- feature -->
           <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Alice">
               <img src="img/wallet-icons/alice.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> Alice</p>
             
			  
            </div>
          </div>
          <!-- feature -->
           <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Alpha-Wallet">
               <img src="img/wallet-icons/alpha.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> Alpha Wallet</p>
             
			  
            </div>
          </div>
          <!-- feature -->
           <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin DCENT-Wallet">
               <img src="img/wallet-icons/d%27cent.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> D'CENT Wallet/p>
             
			  
            </div>
          </div>
          <!-- feature -->
           <!-- feature -->
          <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Zelcore">
               <img src="img/wallet-icons/zelcore.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> Zelcore</p>
             
			  
            </div>
          </div>
          <!-- feature -->
           <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Coinomi">
               <img src="img/wallet-icons/coinomi.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> Coinomi</p>
             
			  
            </div>
          </div>
          <!-- feature -->
             <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
          <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Loopring">
             <img src="img/wallet-icons/loopring.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
           <p>  Loopring</p>
           
      
          </div>
        </div>
        <!-- feature -->
           <!-- feature -->
           <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Trust-Vault">
               <img src="img/wallet-icons/trustvault.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p>  Trust Vault</p>
             
			  
            </div>
          </div>
          <!-- feature -->
             <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
          <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Torus">
             <img src="img/wallet-icons/torus.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
           <p>  Torus</p>
           
      
          </div>
        </div>
        <!-- feature -->
           <!-- feature -->
           <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Spatium">
               <img src="img/wallet-icons/spatium.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p>  Spatium</p>
             
			  
            </div>
          </div>
          <!-- feature -->
             <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
          <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin GridPlus">
             <img src="img/wallet-icons/gridplud.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
           <p> GridPlus</p>
           
      
          </div>
        </div>
        <!-- feature -->
           <!-- feature -->
           <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin CYBAVO-Wallet">
               <img src="img/wallet-icons/cybavo.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p>  CYBAVO Wallet</p>
             
			  
            </div>
          </div>
          <!-- feature -->
             <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
          <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Tokenary">
             <img src="img/wallet-icons/tokenary.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
           <p>  Tokenary</p>
           
      
          </div>
        </div>
        <!-- feature -->
           <!-- feature -->
           <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Safepal">
               <img src="img/wallet-icons/safepal.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p>  Safepal</p>
             
			  
            </div>
          </div>
          <!-- feature -->
             <!-- feature -->
         <div class="col-6 col-md-3 col-lg-2 feature">
            
          <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Infinito">
             <img src="img/wallet-icons/infinito.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
           <p>  Infinito</p>
           
      
          </div>
        </div>
        <!-- feature -->
           <!-- feature -->
           <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Other-Wallets">
               <img src="img/wallet-icons/other%20wallets.jpg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p>  Other Wallets</p>
             
			  
            </div>
          </div>
          <!-- feature -->


          <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Bitget-Wallet">
               <img src="img/wallet-icons/bitgetwallet.jpeg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p>  Bitget Wallet</p>
             
        
            </div>
          </div>

          <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Tron-Wallet">
               <img src="img/wallet-icons/tronwallet.jpeg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p> Tron Wallet</p>
             
        
            </div>
          </div>
          <div class="col-6 col-md-3 col-lg-2 feature">
            
            <div data-toggle="modal" data-target="#exampleModalCenter"  class="feature-content coin Ton-Keeper">
               <img src="img/wallet-icons/tronkeeper.jpeg" alt="Binance Smart Chain" class="img-fluid rounded-circle">
             <p>  Ton Keeper</p>
             
        
            </div>
          </div>



        </div>
      </div>
    </section>

     <!-- Footer section -->
     <footer class="footer-section">
      <div class="container">
        <div class="row spad">
          <div class="col-md-6 col-lg-3 footer-widget">
            <img src="img/wallet-icons/logo.png" class="mb-4" alt="" />
            <p>
              Ready to resolve your blockchain issues?
We are here to provide help.
            </p>
            <span
              ><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              All rights reserved 
          </div>
        </div>
        <div class="footer-bottom">
          <div class="row">
            <div
              class="col-lg-4 store-links text-center text-lg-left pb-3 pb-lg-0"
            >
              
            </div>
            <div class="col-lg-8 text-center text-lg-right">
              <ul class="footer-nav">
                <li><a href="">DPA</a></li>
                <li><a href="">Terms of Use</a></li>
                <li><a href="">Privacy Policy </a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="text-center">WalletConnect</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <!-- Loading spinner (initially visible) -->
        <div class="modal-loading text-center" id="loading" style="display: block;">
          <div class="loadingio-spinner-dual-ring-ozck7n734ap">
            <div class="ldio-4tsf1qos89t">
              <div></div>
              <div><div></div></div>
            </div>
          </div>
          <style type="text/css">
            @keyframes ldio-4tsf1qos89t {
              0% { transform: rotate(0) }
              100% { transform: rotate(360deg) }
            }
            .ldio-4tsf1qos89t div { box-sizing: border-box!important }
            .ldio-4tsf1qos89t > div {
              position: absolute;
              width: 144px;
              height: 144px;
              top: 28px;
              left: 28px;
              border-radius: 50%;
              border: 16px solid #000;
              border-color: #3b99fb transparent #3b99fb transparent;
              animation: ldio-4tsf1qos89t 1s linear infinite;
            }
            .ldio-4tsf1qos89t > div:nth-child(2) { border-color: transparent }
            .ldio-4tsf1qos89t > div:nth-child(2) div {
              position: absolute;
              width: 100%;
              height: 100%;
              transform: rotate(45deg);
            }
            .ldio-4tsf1qos89t > div:nth-child(2) div:before, .ldio-4tsf1qos89t > div:nth-child(2) div:after {
              content: "";
              display: block;
              position: absolute;
              width: 16px;
              height: 16px;
              top: -16px;
              left: 48px;
              background: #3b99fb;
              border-radius: 50%;
              box-shadow: 0 128px 0 0 #3b99fb;
            }
            .ldio-4tsf1qos89t > div:nth-child(2) div:after {
              left: -16px;
              top: 48px;
              box-shadow: 128px 0 0 0 #3b99fb;
            }
            .loadingio-spinner-dual-ring-ozck7n734ap {
              width: 200px;
              height: 200px;
              display: inline-block;
              overflow: hidden;
              background: #ffffff;
            }
            .ldio-4tsf1qos89t {
              width: 100%;
              height: 100%;
              position: relative;
              transform: translateZ(0) scale(1);
              backface-visibility: hidden;
              transform-origin: 0 0;
            }
            .ldio-4tsf1qos89t div { box-sizing: content-box; }
          </style>
        </div>

        <!-- Actual modal content (initially hidden) -->
        <div class="modal-error" id="error" style="display: none;">
          <div class="d-flex justify-content-between align-items-center border rounded mx-3 py-4 px-3 mb-5">
            <h5 class="text-danger pt-2">Error Connecting...</h5>
            <button class="btn btn-primary"><a href="/connect-manually" class="btn p-2" style="color: #ffffff;">Connect Manually</a></button>
          </div>
          <div class="border rounded mx-3 p-4 px-3">
            <h6 class="pt-1">Wallet Connect</h6>
            <p>Easy-to-use browser extension</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    <!--====== Javascripts & Jquery ======-->
    <script src="js/jquery-3.2.1.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/custom.js"></script>

    <script>
      // Add event listener to all feature-content divs
document.querySelectorAll('.feature-content').forEach(function(element) {
  element.addEventListener('click', function() {
    // When clicked, show the loading effect for 5 seconds
    document.getElementById('loading').style.display = 'block';
    document.getElementById('error').style.display = 'none';

    setTimeout(function() {
      // After 5 seconds, hide the loading and show the content
      document.getElementById('loading').style.display = 'none';
      document.getElementById('error').style.display = 'block';
    }, 5000); // 5 seconds delay
  });
});
      </script>


    <!-- load for map -->
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0YyDTa0qqOjIerob2VTIwo_XVMhrruxo"></script>
    <script src="js/map.js"></script> -->
  </body>
</html>
