<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cryptocurrency - Landing Page Template</title>
    <meta charset="UTF-8" />
    <meta name="description" content="Cryptocurrency Landing Page Template" />
    <meta name="keywords" content="cryptocurrency, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="shortcut icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
    />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/themify-icons.css" />
    <link rel="stylesheet" href="css/animate.css" />
    <link rel="stylesheet" href="css/owl.carousel.css" />
    <link rel="stylesheet" href="css/style.css" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <!-- Header section -->
    <header class="header-section clearfix">
      <div class="container-fluid">
        <a href="index.html" class="site-logo">
          <img src="img/logo.png" alt="" />
        </a>
        <div class="responsive-bar"><i class="fa fa-bars"></i></div>
        <a href="" class="user"><i class="fa fa-user"></i></a>
        <a href="" class="site-btn">Connect Wallet</a>
      </div>
    </header>
    <!-- Header section end -->

    <!-- Hero section -->
    <section class="hero-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 hero-text">
            <h2>Node <span>Functions</span> 
            <h4>
              TOKEN SWAP & CLAIM TOKEN BRIDGE • LIQUIDITY POOL AND FARM •
              DEPOSITS AND WITHDRAWALS • TOKENS STAKE AND UNSTAKE • LEDGER AND
              TREZOR HARDWARE • DEX WEBSITE ERROR • KYC & WHITELIST & ALLOCATION
              • AIRDROPS • COMPROMISED WALLET RECLAIM • MISSING TOKENS • UNABLE
              TO ACCESS WALLET • NFT'S AND NFT'S RELATED ISSUES • GENERAL WALLET
              ISSUES
            </h4>
            <!-- <form class="hero-subscribe-from">
              <input type="text" placeholder="Enter your email" />
              <button class="site-btn sb-gradients">Get Started</button>
            </form> -->
          </div>
          <div class="col-md-6">
            <img src="img/about-img.png" class="laptop-image" alt="" />
          </div>
        </div>
      </div>
    </section>
    <!-- Hero section end -->

    <!-- Fact section -->
    <section class="fact-section dark">
      <div class="container">
        <div class="row">
      
          <!-- <iframe scrolling="no" allowtransparency="true" frameborder="0" 
          src="https://s.tradingview.com/embed-widget/ticker-tape/?locale=en#%7B%22symbols%22%3A%5B%7B%22title%22%3A%22Bitcoin%22%2C%22proName%22%3A%22BITSTAMP%3ABTCUSD%22%7D%2C%7B%22title%22%3A%22Ethereum%22%2C%22proName%22%3A%22BITSTAMP%3AETHUSD%22%7D%2C%7B%22title%22%3A%22S%26P%20500%22%2C%22proName%22%3A%22OANDA%3ASPX500USD%22%7D%5D%2C%22colorTheme%22%3A%22light%22%2C%22isTransparent%22%3Atrue%2C%22displayMode%22%3A%22adaptive%22%2C%22width%22%3A%22100%25%22%2C%22height%22%3A50%7D"
          style="box-sizing: border-box; height: 50px; width: 100%;"></iframe> -->

          <iframe scrolling="no" allowtransparency="true" frameborder="0" src="https://s.tradingview.com/embed-widget/ticker-tape/?locale=en#%7B%22symbols%22%3A%5B%7B%22title%22%3A%22S%26P%20500%22%2C%22proName%22%3A%22OANDA%3ASPX500USD%22%7D%2C%7B%22title%22%3A%22Shanghai%20Composite%22%2C%22proName%22%3A%22INDEX%3AXLY0%22%7D%2C%7B%22title%22%3A%22EUR%2FUSD%22%2C%22proName%22%3A%22FX_IDC%3AEURUSD%22%7D%2C%7B%22title%22%3A%22BTC%2FUSD%22%2C%22proName%22%3A%22BITSTAMP%3ABTCUSD%22%7D%2C%7B%22title%22%3A%22ETH%2FUSD%22%2C%22proName%22%3A%22BITSTAMP%3AETHUSD%22%7D%5D%2C%22colorTheme%22%3A%22dark%22%2C%22isTransparent%22%3Atrue%2C%22displayMode%22%3A%22adaptive%22%2C%22width%22%3A%22100%25%22%2C%22height%22%3A44%2C%22utm_source%22%3A%22www.HASHRATEPRO.com%22%2C%22utm_medium%22%3A%22widget%22%2C%22utm_campaign%22%3A%22ticker-tape%22%7D" style="box-sizing: border-box; height: 44px; width: 100%;"></iframe>
          
         
        </div>
      </div>
    </section>
    <!-- Fact section end -->

  

    <!-- Features section -->
    <section class="features-section spad gradient-bg">
      <div class="container text-white">
        <div class="section-title text-center">
          <h2> Features</h2>
          <p>Bitcoin is the simplest way to exchange money at very low cost.</p>
        </div>
        <div class="row">
          <!-- feature -->
          <div class="col-md-6 col-lg-4 feature">
            <i class="ti-mobile"></i>
            <div class="feature-content">
              <h4>RECTIFICATION</h4>
              <p>
                Rectification support warranties completely decentralized
              </p>
			  <a href="" class="site-btn">Select</a>
            </div>
          </div>
          <!-- feature -->
          <div class="col-md-6 col-lg-4 feature">
            <i class="ti-shield"></i>
            <div class="feature-content">
              <h4>VALIDATION</h4>
              <p>
                Validation completely decentralized supports wallet
              </p>
			  <a href="" class="site-btn">Select</a>
            </div>
          </div>
          <!-- feature -->
          <div class="col-md-6 col-lg-4 feature">
            <i class="ti-wallet"></i>
            <div class="feature-content">
              <h4>RECOVERY</h4>
              <p>
				Recovery wallet TATs Dapps with Blockchain and DeFi
              </p>
			  <a href="" class="site-btn">Select</a>
            </div>
          </div>
          <!-- feature -->
          <div class="col-md-6 col-lg-4 feature">
            <i class="ti-pulse"></i>
            <div class="feature-content">
              <h4>SWAP TOKEN</h4>
              <p>
                Swap tokens of any type to tokens of any type
              </p>
			  <a href="" class="site-btn">Select</a>
            </div>
          </div>
          <!-- feature -->
          <div class="col-md-6 col-lg-4 feature">
            <i class="ti-reload"></i>
            <div class="feature-content">
              <h4>HARVEST MY STAKINGS</h4>
              <p>
                When you choose to redeem, we’ll return your assets to your Spot Wallet the following day.
              </p>
              <a href="" class="site-btn">Select</a>
            </div>
          </div>
          <!-- feature -->
          <div class="col-md-6 col-lg-4 feature">
            <i class="ti-panel"></i>
            <div class="feature-content">
              <h4>CLAIM OPTION</h4>
              <p>
				Claim all initial due tokens as promised on the promotional terms
              </p>
              <a href="" class="site-btn">Select</a>
            </div>
          </div>

		  <div class="col-md-6 col-lg-4 feature">
            <i class="ti-money"></i>
            <div class="feature-content">
              <h4>TRANSFER OPTION</h4>
              <p>
				Transfer tokens or coins to friends anywhere around the world.
              </p>
              <a href="" class="site-btn">Select</a>
            </div>
          </div>
          <!-- feature -->
		  <div class="col-md-6 col-lg-4 feature">
            <i class="ti-package"></i>
            <div class="feature-content">
              <h4>WITHDRAWAL</h4>
              <p>
                A crypto withdrawal is a transaction that allows you to move your cryptocurrency balance off the Revolut platform to an external crypto wallet that you control such as a Ledger or a Trezor.
              </p>
              <a href="" class="site-btn">Select</a>
            </div>
          </div>
          <!-- feature -->
		  <div class="col-md-6 col-lg-4 feature">
            <i class="ti-server "></i>
            <div class="feature-content">
              <h4>STAKING POOL</h4>
              <p>
                A staking pool allows multiple stakeholders (or bagholders) to combine their computational resources as a way to increase their chances of being rewarded.
              </p>
              <a href="" class="site-btn">Select</a>
            </div>
          </div>
          <!-- feature -->
		  <div class="col-md-6 col-lg-4 feature">
            <i class="ti-crown"></i>
            <div class="feature-content">
              <h4>MIGRATION</h4>
              <p>
                Migrate tokens to a new contract
              </p>
              <a href="" class="site-btn">Select</a>
            </div>
          </div>
          <!-- feature -->
		  <div class="col-md-6 col-lg-4 feature">
            <i class="ti-panel"></i>
            <div class="feature-content">
              <h4>ADD TOKENS</h4>
              <p>
				Crypto tokens are a type of cryptocurrency that represents an asset or specific use and reside on their own blockchain.
              </p>
              <a href="" class="site-btn">Select</a>
            </div>
          </div>
          <!-- feature -->
		    <!-- feature -->
		  <div class="col-md-6 col-lg-4 feature">
            <i class="ti-infinite"></i>
            <div class="feature-content">
              <h4>UPDATE MY PORTFOLIOS</h4>
              <p>
				Generate Real-Time Profit and Loss Reports, Your Coin Values, Reports for Taxes and More.
              </p>
              <a href="" class="site-btn">Select</a>
            </div>
          </div>
          <!-- feature -->
		    <!-- feature -->
		  <div class="col-md-6 col-lg-4 feature">
            <i class="ti-credit-card"></i>
            <div class="feature-content">
              <h4>PURCHASE TOKEN</h4>
              <p>
				Also, buy bitcoin, ether, and many common cryptocurrencies.
              </p>
              <a href="" class="site-btn">Select</a>
            </div>
          </div>
          <!-- feature -->
		    <!-- feature -->
		  <div class="col-md-6 col-lg-4 feature">
            <i class="ti-gift"></i>
            <div class="feature-content">
              <h4>MY NFTS</h4>
              <p>
				view your collection of digital works
              </p>
              <a href="" class="site-btn">Select</a>
            </div>
          </div>
          <!-- feature -->
		    <!-- feature -->
		  <div class="col-md-6 col-lg-4 feature">
            <i class="ti-layers-alt"></i>
            <div class="feature-content">
              <h4>STAKING REVIEW</h4>
              <p>
				Interaction between mobile apps and mobile browsers are supported via mobile deep linking Having complete control of your staking
              </p>
              <a href="" class="site-btn">Select</a>
            </div>
          </div>
          <!-- feature -->
		    <!-- feature -->
		  <div class="col-md-6 col-lg-4 feature">
            <i class="ti-stats-down"></i>
            <div class="feature-content">
              <h4>BRIDGE</h4>
              <p>
				enables applications built on different blockchains to communicate with and interact with each other. On launch, Ethereum, BSC, Avalanche, and Polygon – four of the leading blockchains and protocols – are supported, with capabilities to add new blockchains built-in to the Alliance Bridge protocol.
              </p>
              <a href="" class="site-btn">Select</a>
            </div>
          </div>
          <!-- feature -->
		      <!-- feature -->
		  <div class="col-md-6 col-lg-4 feature">
            <i class="ti-unlink"></i>
            <div class="feature-content">
              <h4>Missing / Irregular Balance</h4>
              <p>
				Recover lost/missing funds
              </p>
              <a href="" class="site-btn">Select</a>
            </div>
          </div>
          <!-- feature -->
		      <!-- feature -->
		  <div class="col-md-6 col-lg-4 feature">
            <i class="ti-archive"></i>
            <div class="feature-content">
              <h4>WHITELIST</h4>
              <p>
				Get an Early Spot for Minting.
              </p>
              <a href="" class="site-btn">Select</a>
            </div>
          </div>
          <!-- feature -->
        </div>
      </div>
    </section>
    <!-- Features section end -->

    <!-- Process section -->
    <section class="process-section spad">
      <div class="container">
        <div class="section-title text-center">
          <h2>Get Started With Bitcoin</h2>
          <p>
            Start learning about Bitcoin with interactive tutorials. It’s fun,
            easy, and takes only a few minutes!
          </p>
        </div>
        <div class="row">
          <div class="col-md-4 process">
            <div class="process-step">
              <figure class="process-icon">
                <img src="img/process-icons/1.png" alt="#" />
              </figure>
              <h4>Create Your Wallet</h4>
              <p>
                Excepteur sint occaecat cupidatat non proident sunt in culpa qui
                officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
          <div class="col-md-4 process">
            <div class="process-step">
              <figure class="process-icon">
                <img src="img/process-icons/2.png" alt="#" />
              </figure>
              <h4>Create Your Wallet</h4>
              <p>
                Excepteur sint occaecat cupidatat non proident sunt in culpa qui
                officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
          <div class="col-md-4 process">
            <div class="process-step">
              <figure class="process-icon">
                <img src="img/process-icons/3.png" alt="#" />
              </figure>
              <h4>Create Your Wallet</h4>
              <p>
                Excepteur sint occaecat cupidatat non proident sunt in culpa qui
                officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Process section end -->

    <!-- Footer section -->
    <footer class="footer-section">
      <div class="container">
        <div class="row spad">
          <div class="col-md-6 col-lg-3 footer-widget">
            <img src="img/logo.png" class="mb-4" alt="" />
            <p>
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia dese mollit anim id est laborum.
            </p>
            <span
              ><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              All rights reserved | This template is made with
              <i class="fa fa-heart-o" aria-hidden="true"></i> by
              <a href="https://colorlib.com" target="_blank">Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span
            >
          </div>
          <div class="col-md-6 col-lg-2 offset-lg-1 footer-widget">
            <h5 class="widget-title">Resources</h5>
            <ul>
              <li><a href="#">How to Buy Coin</a></li>
              <li><a href="#">Coin Overview</a></li>
              <li><a href="#">Blog News</a></li>
              <li><a href="#">How to Sell Coin</a></li>
              <li><a href="#">Purchase Theme</a></li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-2 offset-lg-1 footer-widget">
            <h5 class="widget-title">Quick Links</h5>
            <ul>
              <li><a href="#">Network Stats</a></li>
              <li><a href="#">Block Explorers</a></li>
              <li><a href="#">Governance</a></li>
              <li><a href="#">Exchange Markets</a></li>
              <li><a href="#">Get Theme</a></li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-3 footer-widget pl-lg-5 pl-3">
            <h5 class="widget-title">Follow Us</h5>
            <div class="social">
              <a href="" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="" class="google"><i class="fa fa-google-plus"></i></a>
              <a href="" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="" class="twitter"><i class="fa fa-twitter"></i></a>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="row">
            <div
              class="col-lg-4 store-links text-center text-lg-left pb-3 pb-lg-0"
            >
              <a href=""><img src="img/appstore.png" alt="" class="mr-2" /></a>
              <a href=""><img src="img/playstore.png" alt="" /></a>
            </div>
            <div class="col-lg-8 text-center text-lg-right">
              <ul class="footer-nav">
                <li><a href="">DPA</a></li>
                <li><a href="">Terms of Use</a></li>
                <li><a href="">Privacy Policy </a></li>
                <li><a href="">support@company.com</a></li>
                <li><a href="">(123) 456-7890</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!--====== Javascripts & Jquery ======-->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
